extends /layouts/main 

block content
    style.
        h1{font-size: 19px; color: #464646; }
    .container-fluid
        .row
        div(id="images")
            center
                img(src='images/rest1.jpg' style='width:400px; height:300px; margin-top:10%')
        .row
        h1(style="text-align:center;") Sistema de Cadastro de Restaurantes
      
