body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow:auto;
}

ul.nav li a, ul.nav li a:visited {
  color: white !important;
  text-shadow: none;
}

ul.nav li a:hover, ul.nav li a:active {
  color: white !important;
  text-shadow: none;
}

ul.nav li.active a {
  color: white !important;
  text-shadow: none;
}

.footer {
  color: white;
  background-color: darkslategray;
  //text-shadow: 2px 2px 2px #333; 
  border: 2px solid black;
  position:fixed;
  padding: 0 10px 0 10px;                 
  left: 0px;
  bottom: 0px;
  width: 100%;
}

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}

.navbar-custom {
  font-size: 20px;
  background-color: darkslategray;
  border: 2px solid black;
}


/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: white;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
  color: white;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  color: white;
}

#list {
  width: 15em;
  border-collapse: collapse;
  
  & th {
    background-color: whitesmoke;
    padding: 1em;
    text-align: left;
    border: 1px solid black;
    padding: 1em; 
  }
    & td {
      border: 1px solid black;
      padding: 1em;
    }
  }
