extends /layouts/main

block content

    style(type='text/css').
        fieldset.scheduler-border {
        border: 1px groove #ddd !important;
        padding: 0 1.4em 1.4em 1.4em !important;
        margin: 0 0 1.9em 0 !important;
        -webkit-box-shadow:  0px 0px 0px 0px #000;
                box-shadow:  0px 0px 0px 0px #000;
        }
        legend.scheduler-border {
            font-size: 1.2em !important;
            font-weight: bold !important;
            text-align: left !important;
            width: auto; // fixes the problem 1
            border-bottom: none; // fixes the problem 2
        }
    
    .container-fluid
        h1(style="font-size:22px; margin-top: 2%") Restaurantes
    .container-fluid
        fieldset(class="scheduler-border" style="height:200px; width:600px; border:2px #cccccc solid; border-radius: 10px;")
            legend(class="scheduler-border" style="font-size:14px;") Filtros
            form(method='get' action='')
                div.form-group
                    label(for='nome') Nome:
                    input#nome.form-control(type='text', placeholder='nome do restaurante' name='nome')
                button.btn.btn-primary(type='submit') Pesquisar
                a(href="/restaurantes/create", class="btn btn-primary btn-lg" style='margin-left: 10px;') Cadastrar novo restaurante

                div#flashes
                    
                    if typeof messages.error !== 'undefined' && messages.error.length > 0  
                        div.alert.alert-danger(style="margin-top: 20px; height: 10px; text-align: center")
                            p.error  #{ messages.error }                      
                    if typeof messages.success !== 'undefined' && messages.success.length > 0 
                        div.alert.alert-success(style="margin-top: 20px; height: 10px; text-align: center") 
                            p.success   #{ messages.success }
                    if typeof messages.update !== 'undefined' && messages.update.length > 0
                        div.alert.alert-success(style="margin-top: 20px; height: 10px; text-align: center")  
                            p.update   #{ messages.update }
                    
        
    .container-fluid
        table#list
            tr
                th 
                th
                th Restaurantes
            tr
            each restaurante in restaurantes
                tr  
                    td 
                        form(method='post' action='/restaurantes/delete/' + restaurante._id)
                            <input type="image" src="images/del.png" alt="Submit", width="20px", height="20px" name="_id">
                    td 
                        a(href='/restaurantes/edit/' + restaurante._id ) 
                            img#minicons(src="/images/edit.png")
                    td #{restaurante.nome}
